.banner {
  background-color: #6C3563;
  margin-top: 113px;
  margin-bottom: 100px;
  padding: 140px 40px 100px;
}

.banner-content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.banner-content {
  width: 600px;
}

.banner h1, p {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.banner img {
  margin-top: 40px;
}