.main-nav {
  padding: 20px 40px;
  background-color: #FFFFFF;
  width: 100vw;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #E3E1E9;
  z-index: 1000;
}

.nav-logo {
  height: 70px;
}

.nav-link li {
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.current-nav-link {
  color: #C5344E;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.vertical-divider {
  height: 24px;
  width: 2px;
  background-color: #cfccd7;
}

.nav-cta-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-responsive {
  display: none;
}

/* --------------------- Responsive --------------------- */

@media screen and (max-width: 1200px) {
  .nav-desktop {
    display: none;
  }
  
  .nav-responsive {
    display: block;
  }
  
  .menu-icon {
    cursor: pointer;
  }
}

@media screen and (max-width: 660px) {
  .main-nav {
    padding: 20px;
  }
  
  .nav-cta-container {
    gap: 20px;
  }
}

@media screen and (max-width: 530px) {
  .nav-responsive-mobile {
    display: none;
  }
}