.post-block-item {
  flex-basis: 570px;
}

.thumbnail-container {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.post-thumbnail {
  border: 1px solid #E3E1E9;
  width: 100%;
  transition: all 0.7s;
}

.thumbnail-container img:hover {
  transform: scale(1.08);
}

.post-block-item h2 {
  margin-bottom: 15px;
}

.post-block-item p {
  margin-bottom: 15px;
}

.post-block-item h2:hover {
  color: #C5344E;
}

/* --------------------- Responsive --------------------- */

@media screen and (max-width: 1280px) {
  .post-block-item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 1111px) {
  .post-block-item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 833px) {
  .post-block-item {
    flex-basis: auto;
  }
}
