.post-block-item {
  flex-basis: 570px;
}

.post-thumbnail {
  width: 100%;
  border: 1px solid #E3E1E9;
  margin-bottom: 20px;
}

.post-block-item h2 {
  margin-bottom: 15px;
}

.post-block-item p {
  margin-bottom: 15px;
}

.post-block-item h2:hover {
  color: #C5344E;
}

/* --------------------- Responsive --------------------- */

@media screen and (max-width: 1280px) {
  .post-block-item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 1111px) {
  .post-block-item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 833px) {
  .post-block-item {
    flex-basis: 47%;
  }
}

@media screen and (max-width: 600px) {
  .post-block-item {
    flex-basis: auto;
  }
}