.post-header {
  background-color: #6C3563;
  margin-top: 113px;
  margin-bottom: 80px;
  padding: 100px 0;
  position: relative;
}

.bread-crumbs {
  position: absolute;
  top: 40px;
  left: 40px;
}

.post-header-content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.post-header-content {
  width: 600px;
}

.post-header-content h1 {
  margin-bottom: 20px;
}

.post-body {
  width: 1200px !important;
  margin-bottom: 80px !important;
}

/* --------------------- Responsive --------------------- */

@media screen and (max-width: 1280px) {
  .post-header-content-wrapper {
    width: 90vw;
  }
  
  .post-body {
    max-width: 90vw !important;
  }
  
  .post-body img {
    max-width: 90vw !important;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .post-header {
    margin-top: 113px;
    margin-bottom: 40px;
    padding: 60px;
  }
  
  .post-header-content h1 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 670px) {
  .post-header-content {
    width: 80%;
  }
}

/* ---------------------- Post Body --------------------- */

.post-body {
  width: 1200px;
  margin: 0 auto;
}

.post-body p, ul, ol, li, span {
  font-family: 'Open Sans', sans-serif;
  color: #322E3B;
}

.post-body p {
  padding-bottom: 10px;
}

.post-body ul {
  list-style-type: disc;
  margin: 20px 0;
}

.post-body li {
  margin-left: 20px;
}

.post-body h1 span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #C5344E !important;
}

.post-body h2 span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #C5344E !important;
}

.post-body h3 span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6C3563 !important;
}

.post-body h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #C5344E !important;
}

.post-body h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6C3563 !important;
}

.post-body a {
  color: #C5344E !important;
  font-weight: bold;
}

.post-body a span {
  color: #C5344E !important;
  font-weight: bold;
}

.post-body iframe {
  margin: 20px 0;
}

.post-body h1 {
  margin: 30px 0 20px;
}

.post-body h2 {
  margin: 20px 0 10px;
}

.post-body h3 {
  margin: 10px 0;
}

.post-body li {
  padding: 8px;
}

.post-body ol {
  margin-bottom: 20px;
}

.post-body table {
  width: 100%;
}

.post-body img {
  margin: 40px 0;
}

.post-body a {
  margin: 20px 0;
}


