.post-block-item {
  width: 570px;
}

.post-thumbnail {
  width: 100%;
  border: 1px solid #E3E1E9;
  margin-bottom: 20px;
}

.post-block-item h2 {
  margin-bottom: 15px;
}

.post-block-item h2:hover {
  color: #C5344E;
}

/* --------------------- Responsive --------------------- */

@media screen and (max-width: 1200px) {
  .post-block-item {
    flex: auto;
  }
}